* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body { 
    background: #ebe8e8;
    display: flex;
}
.container {
    box-sizing: border-box;
    padding: 20px; /* Подгоните ваши отступы по необходимости */
}

.frame {
    background-color: white;
    width: fit-content;
    padding: 20px;
}

.title {
    font-size: 60px;
    font-weight: bold;
    padding-top: 10px;
}

.controls {
    display: flex;
    flex-direction : column;
    gap: 10px;
}

.range_input {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: right;
}

.range_input > output {
    padding-left: 10px;
}

#params {
    width: 30%;
    background-color: lightblue;
}

#image {
    width: 50%;
    margin: auto;
    background-color: lightgreen;
}

#about {
    width: 20%;
    background-color: lightcoral;
}