* {
    margin: 0;
    padding: 0;
}

body {
    background: #F3F1E7;
    display: flex;
    margin: auto;
    background: rgb(195,163,231);
    background: radial-gradient(circle, rgba(195,163,231,1) 16%, rgba(251,241,226,1) 96%);
    font-family: 'Single Day', cursive;  

}

.frame,.controls,.info {
    width: fit-content;
    margin: 0 auto;
    /* From https://css.glass */
    background: rgba(244, 242, 242, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
}

.frame {
    padding: 50px;
}
.controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 23px;
}

.range_input {
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.range_input>output {
    padding-left: 10px;
}

/* layout */ 

.container {
    box-sizing: border-box;
    padding: 20px;
    margin: 20px;
    display: grid;
    grid-template-columns: 400px 900px;
    grid-template-rows: 2fr 100px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: center;
    align-items: center;
 }

.about {
    font-size: 18px;
    padding-top: 30px;
}

.range_input, .color-picker {
    font-size: 21px;
}

h1 {
    margin: auto;
    padding-bottom: 50px;
}

#choose-dist, #choose-height, #choose-margin, #choose-width {
    width: 300px;
}

.range-lable {
    font-size: 21px;
}

output {
    width: 20px;
}

a {
    color: #5d5c5c;
}