* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: #F3F1E7;
    display: flex;
    margin: auto;
    background: rgb(195,163,231);
    background: radial-gradient(circle, rgba(195,163,231,1) 16%, rgba(251,241,226,1) 96%);
    
}

.frame,.controls,.info {
    width: fit-content;
    padding: 50px;
    margin: 0 auto;
    /* From https://css.glass */
    background: rgba(244, 242, 242, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
}

.frame {
    border: 1px dashed rgb(124, 123, 123); 
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.range_input {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: right;
}

.range_input>output {
    padding-left: 10px;
}

/* layout */ 

.container {
    box-sizing: border-box;
    padding: 20px;
    margin: 20px;
    display: grid;
    grid-template-columns: 400px 900px;
    grid-template-rows: 2fr 100px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: center;
    align-items: center;
 }

 /* size and rotate */

 .dot {
    height: 10px;
    width: 10px;
    background-color: #1E88E5;
    position: absolute;
    border-radius: 100px;
    border: 1px solid white;
    user-select: none;
}

.dot:hover {
    background-color: #0D47A1;
}

.dot.left-top {
    top: -5px;
    left: -5px;
    /* cursor: nw-resize; */
}

.dot.left-bottom {
    bottom: -5px;
    left: -5px;
    /* cursor: sw-resize; */
}

.dot.right-top {
    top: -5px;
    right: -5px;
    /* cursor: ne-resize; */
}

.dot.right-bottom {
    bottom: -5px;
    right: -5px;
    /* cursor: se-resize; */
}

.dot.top-mid {
    top: -5px;
    left: calc(50% - 5px);
    /* cursor: n-resize; */
}

.dot.left-mid {
    left: -5px;
    top: calc(50% - 5px);
    /* cursor: w-resize; */
}

.dot.right-mid {
    right: -5px;
    top: calc(50% - 5px);
    /* cursor: e-resize; */
}

.dot.bottom-mid {
    bottom: -5px;
    left: calc(50% - 5px);
    /* cursor: s-resize; */
}

.dot.rotate {
    top: -30px;
    left: calc(50% - 5px);
    cursor: url('https://findicons.com/files/icons/1620/crystal_project/16/rotate_ccw.png'), auto;
}

.rotate-link {
    position: absolute;
    width: 1px;
    height: 15px;
    background-color: #1E88E5;
    top: -20px;
    left: calc(50% + 0.5px);
    z-index: -1;
}

.box {
    background-color: #00BCD4;
    position: relative;
    user-select: none;
}